In [1]:
#dataframes
import pandas as pd
pd.set_option('display.max_columns', None)
#operaciones matem√°ticas
import numpy as np

In [3]:
info_vuelos = pd.read_csv("files/customer_flight_activity.csv", index_col=0)
info_loyalty = pd.read_csv("files/customer_loyalty_history.csv", index_col=0)

In [10]:
info_vuelos.shape

(405624, 9)

In [5]:
info_loyalty.shape

(16737, 15)

In [7]:
info_vuelos.size

3650616

In [8]:
info_loyalty.size

251055

In [12]:
info_vuelos.sample(3)

,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
Loyalty Number,,,,,,,,,
447675,2018,1,7,0,7,1960,196.00,0,0
267944,2018,3,10,0,10,2970,320.76,0,0
183755,2017,8,7,2,9,2538,253.00,0,0

In [ ]:
#efectivamente total flights es la suma de flights booked y flights with companions

In [13]:
info_vuelos.head(3)

,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
Loyalty Number,,,,,,,,,
100018,2017,1,3,0,3,1521,152.0,0,0
100102,2017,1,10,4,14,2030,203.0,0,0
100140,2017,1,6,0,6,1200,120.0,0,0

In [ ]:
#el a√±o empieza en 2017 y mes 1

In [14]:
info_vuelos.tail(3)

,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
Loyalty Number,,,,,,,,,
999940,2018,12,3,0,3,1233,123.0,0,0
999982,2018,12,0,0,0,0,0.0,0,0
999986,2018,12,0,0,0,0,0.0,0,0

In [ ]:
#a√±o termina en 2018 y mes en 12

In [15]:
info_vuelos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 405624 entries, 100018 to 999986
Data columns (total 9 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Year                         405624 non-null  int64
 1   Month                        405624 non-null  int64
 2   Flights Booked               405624 non-null  int64
 3   Flights with Companions      405624 non-null  int64
 4   Total Flights                405624 non-null  int64
 5   Distance                     405624 non-null  int64
 6   Points Accumulated           405624 non-null  float64
 7   Points Redeemed              405624 non-null  int64
 8   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 30.9 MB

In [ ]:
#points acumulated y redeemed deber√≠an ser del mismo tipo
#dollar probablemente deber√≠a ser float
#no hay ning√∫n nulo??
#distance deber√≠a ser un float

In [17]:
info_vuelos.columns

Index(['Year', 'Month', 'Flights Booked', 'Flights with Companions',
       'Total Flights', 'Distance', 'Points Accumulated', 'Points Redeemed',
       'Dollar Cost Points Redeemed'],
      dtype='object')

In [16]:
info_vuelos.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,405624.0,2017.500000,0.500001,2017.0,2017.00,2017.5,2018.00,2018.0
Month,405624.0,6.500000,3.452057,1.0,3.75,6.5,9.25,12.0
Flights Booked,405624.0,4.115052,5.225518,0.0,0.00,1.0,8.00,21.0
Flights with Companions,405624.0,1.031805,2.076869,0.0,0.00,0.0,1.00,11.0
Total Flights,405624.0,5.146858,6.521227,0.0,0.00,1.0,10.00,32.0
Distance,405624.0,1208.880059,1433.155320,0.0,0.00,488.0,2336.00,6293.0
Points Accumulated,405624.0,123.692721,146.599831,0.0,0.00,50.0,239.00,676.5
Points Redeemed,405624.0,30.696872,125.486049,0.0,0.00,0.0,0.00,876.0
Dollar Cost Points Redeemed,405624.0,2.484503,10.150038,0.0,0.00,0.0,0.00,71.0

In [ ]:
#efectivamente, por la media y mediana, vemos que solo hay a√±os 2017 y 2018

In [ ]:
#'Points Accumulated', 'Points Redeemed' y 'Dollar Cost Points Redeemed' deber√≠an tener relaci√≥n entre ellas, hay que comprobarlo
# 'Total Flights', 'Distance' tambi√©n deber√≠as tener relaci√≥n, aunque menos fuerte
#'Flights Booked' + 'Flights with Companions' deber√≠an tener relaci√≥n con 'Total Flights'. Sus valores m√°ximos lo demuestran

In [19]:
info_vuelos.isna().sum()

Year                           0
Month                          0
Flights Booked                 0
Flights with Companions        0
Total Flights                  0
Distance                       0
Points Accumulated             0
Points Redeemed                0
Dollar Cost Points Redeemed    0
dtype: int64

In [25]:
for c in info_vuelos.columns:
    print(f'en {c} tenemos {info_vuelos[c].nunique()} valores √∫nicos')

en Year tenemos 2 valores √∫nicos
en Month tenemos 12 valores √∫nicos
en Flights Booked tenemos 22 valores √∫nicos
en Flights with Companions tenemos 12 valores √∫nicos
en Total Flights tenemos 33 valores √∫nicos
en Distance tenemos 4746 valores √∫nicos
en Points Accumulated tenemos 1549 valores √∫nicos
en Points Redeemed tenemos 587 valores √∫nicos
en Dollar Cost Points Redeemed tenemos 49 valores √∫nicos

In [ ]:
#me pregunto si los valores √∫nicos de Dollar Cost Points Redeemed y Points Redeemed deber√≠an ser los mismos?

In [26]:
info_vuelos.duplicated().sum()

228705

In [32]:
info_vuelos.index

Index([100018, 100102, 100140, 100214, 100272, 100301, 100364, 100380, 100428,
       100504,
       ...
       999631, 999891, 999758, 999891, 999891, 999902, 999911, 999940, 999982,
       999986],
      dtype='int64', name='Loyalty Number', length=405624)