In [2]:
#dataframes
import pandas as pd
pd.set_option('display.max_columns', None)
#operaciones matemáticas
import numpy as np

In [3]:
info_vuelos = pd.read_csv("files/customer_flight_activity.csv")
info_loyalty = pd.read_csv("files/customer_loyalty_history.csv")

In [4]:
info_vuelos.shape

(405624, 10)

In [5]:
info_loyalty.shape

(16737, 16)

In [6]:
info_vuelos.size

4056240

In [7]:
info_loyalty.size

267792

In [8]:
info_vuelos.sample(3)

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
177460,550834,2017,11,0,0,0,0,0.00,0,0
266747,690776,2018,4,1,1,2,3098,386.25,0,0
361242,437407,2018,10,6,6,12,1908,190.00,0,0

In [9]:
#efectivamente total flights es la suma de flights booked y flights with companions

In [10]:
info_vuelos.head(3)

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0

In [11]:
#el año empieza en 2017 y mes 1

In [12]:
info_vuelos.tail(3)

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
405621,999940,2018,12,3,0,3,1233,123.0,0,0
405622,999982,2018,12,0,0,0,0,0.0,0,0
405623,999986,2018,12,0,0,0,0,0.0,0,0

In [13]:
#año termina en 2018 y mes en 12

In [14]:
info_vuelos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB

In [15]:
#points acumulated y redeemed deberían ser del mismo tipo
#dollar probablemente debería ser float
#no hay ningún nulo??
#distance debería ser un float

In [16]:
info_vuelos.columns

Index(['Loyalty Number', 'Year', 'Month', 'Flights Booked',
       'Flights with Companions', 'Total Flights', 'Distance',
       'Points Accumulated', 'Points Redeemed', 'Dollar Cost Points Redeemed'],
      dtype='object')

In [17]:
info_vuelos.describe().T

,count,mean,std,min,25%,50%,75%,max
Loyalty Number,405624.0,550037.873084,258935.286969,100018.0,326961.00,550834.0,772194.00,999986.0
Year,405624.0,2017.500000,0.500001,2017.0,2017.00,2017.5,2018.00,2018.0
Month,405624.0,6.500000,3.452057,1.0,3.75,6.5,9.25,12.0
Flights Booked,405624.0,4.115052,5.225518,0.0,0.00,1.0,8.00,21.0
Flights with Companions,405624.0,1.031805,2.076869,0.0,0.00,0.0,1.00,11.0
Total Flights,405624.0,5.146858,6.521227,0.0,0.00,1.0,10.00,32.0
Distance,405624.0,1208.880059,1433.155320,0.0,0.00,488.0,2336.00,6293.0
Points Accumulated,405624.0,123.692721,146.599831,0.0,0.00,50.0,239.00,676.5
Points Redeemed,405624.0,30.696872,125.486049,0.0,0.00,0.0,0.00,876.0
Dollar Cost Points Redeemed,405624.0,2.484503,10.150038,0.0,0.00,0.0,0.00,71.0

In [ ]:
#efectivamente, por la media y mediana, vemos que solo hay años 2017 y 2018
#eñ mínimo y el máximo de loyalty number son el mismo en ambos csvs, a pesar de que los años son diferentes

In [19]:
#'Points Accumulated', 'Points Redeemed' y 'Dollar Cost Points Redeemed' deberían tener relación entre ellas, hay que comprobarlo
# 'Total Flights', 'Distance' también deberías tener relación, aunque menos fuerte
#'Flights Booked' + 'Flights with Companions' deberían tener relación con 'Total Flights'. Sus valores máximos lo demuestran

In [20]:
info_vuelos.isna().sum()

Loyalty Number                 0
Year                           0
Month                          0
Flights Booked                 0
Flights with Companions        0
Total Flights                  0
Distance                       0
Points Accumulated             0
Points Redeemed                0
Dollar Cost Points Redeemed    0
dtype: int64

In [21]:
for c in info_vuelos.columns:
    print(f'en {c} tenemos {info_vuelos[c].nunique()} valores únicos')

en Loyalty Number tenemos 16737 valores únicos
en Year tenemos 2 valores únicos
en Month tenemos 12 valores únicos
en Flights Booked tenemos 22 valores únicos
en Flights with Companions tenemos 12 valores únicos
en Total Flights tenemos 33 valores únicos
en Distance tenemos 4746 valores únicos
en Points Accumulated tenemos 1549 valores únicos
en Points Redeemed tenemos 587 valores únicos
en Dollar Cost Points Redeemed tenemos 49 valores únicos

In [ ]:
#me pregunto si los valores únicos de Dollar Cost Points Redeemed y Points Redeemed deberían ser los mismos?
#el nunique de loyalty number es el mismo en ambos csvs

In [23]:
info_vuelos.duplicated().sum()

1864

In [24]:
info_vuelos.index

RangeIndex(start=0, stop=405624, step=1)