In [2]:
#dataframes
import pandas as pd
pd.set_option('display.max_columns', None)
#operaciones matemáticas
import numpy as np

In [3]:
info_vuelos = pd.read_csv("files/customer_flight_activity.csv")
info_loyalty = pd.read_csv("files/customer_loyalty_history.csv")

In [4]:
info_vuelos.rename(columns=lambda x: x.title(), inplace=True)
#normalizamos todos los nombres

In [5]:
info_vuelos.columns

Index(['Loyalty Number', 'Year', 'Month', 'Flights Booked',
       'Flights With Companions', 'Total Flights', 'Distance',
       'Points Accumulated', 'Points Redeemed', 'Dollar Cost Points Redeemed'],
      dtype='object')

In [6]:
# Left merge para conservar todos los vuelos y agregar info de clientes acorde al loyalty number
df_aerolinea = pd.merge(info_vuelos, info_loyalty,on='Loyalty Number', how='left')

In [133]:
df_aerolinea.sample(3)

,Loyalty Number,Year,Month,Flights Booked,Flights With Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
382074,645147,2018,11,0,0,0,0,0.00,0,0,Canada,British Columbia,Vancouver,V5R 1W3,Female,College,NaN,Single,Star,4340.09,Standard,2014,10,NaN,NaN
241074,208485,2018,3,11,2,13,2431,262.44,0,0,Canada,Newfoundland,St. John's,A1C 6H9,Male,Bachelor,66226.0,Married,Star,2580.85,Standard,2015,11,NaN,NaN
373549,193662,2018,11,0,0,0,0,0.00,0,0,Canada,Yukon,Whitehorse,Y2K 6R0,Male,Bachelor,51124.0,Married,Star,3844.57,Standard,2012,5,NaN,NaN

In [134]:
df_aerolinea.head()

,Loyalty Number,Year,Month,Flights Booked,Flights With Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,100018,2017,1,3,0,3,1521,152.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
1,100102,2017,1,10,4,14,2030,203.0,0,0,Canada,Ontario,Toronto,M1R 4K3,Male,College,NaN,Single,Nova,2887.74,Standard,2013,3,NaN,NaN
2,100140,2017,1,6,0,6,1200,120.0,0,0,Canada,British Columbia,Dawson Creek,U5I 4F1,Female,College,NaN,Divorced,Nova,2838.07,Standard,2016,7,NaN,NaN
3,100214,2017,1,0,0,0,0,0.0,0,0,Canada,British Columbia,Vancouver,V5R 1W3,Male,Bachelor,63253.0,Married,Star,4170.57,Standard,2015,8,NaN,NaN
4,100272,2017,1,0,0,0,0,0.0,0,0,Canada,Ontario,Toronto,P1L 8X8,Female,Bachelor,91163.0,Divorced,Star,6622.05,Standard,2014,1,NaN,NaN

In [ ]:
#el year empieza en 2017 y el enrollment year no tiene orden

In [135]:
df_aerolinea.tail()

,Loyalty Number,Year,Month,Flights Booked,Flights With Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
405619,999902,2018,12,0,0,0,0,0.0,0,0,Canada,Ontario,Toronto,M1R 4K3,Male,College,NaN,Married,Aurora,7290.07,Standard,2014,5,NaN,NaN
405620,999911,2018,12,0,0,0,0,0.0,0,0,Canada,Newfoundland,St. John's,A1C 6H9,Male,Doctor,217943.0,Single,Nova,8564.77,Standard,2012,8,NaN,NaN
405621,999940,2018,12,3,0,3,1233,123.0,0,0,Canada,Quebec,Quebec City,G1B 3L5,Female,Bachelor,47670.0,Married,Nova,20266.50,Standard,2017,7,NaN,NaN
405622,999982,2018,12,0,0,0,0,0.0,0,0,Canada,British Columbia,Victoria,V10 6T5,Male,College,NaN,Married,Star,2631.56,Standard,2018,7,NaN,NaN
405623,999986,2018,12,0,0,0,0,0.0,0,0,Canada,Ontario,Ottawa,K1F 2R2,Female,Bachelor,46594.0,Married,Nova,8257.01,2018 Promotion,2018,2,NaN,NaN

In [138]:
df_aerolinea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 25 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights With Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  float64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  float64
 10  Country                      405624 non-null  object
 11  Province                     405624 non-null  object
 12  City                         405624 non-null  object
 13  Postal Code                  405624 non-null  object
 14  Gender                       405624 non-null  object
 15  Education                    405624 non-null  object
 16  Salary                       302952 non-null  float64
 17  Marital Status               405624 non-null  object
 18  Loyalty Card                 405624 non-null  object
 19  CLV                          405624 non-null  float64
 20  Enrollment Type              405624 non-null  object
 21  Enrollment Year              405624 non-null  int64
 22  Enrollment Month             405624 non-null  int64
 23  Cancellation Year            50064 non-null   float64
 24  Cancellation Month           50064 non-null   float64
dtypes: float64(7), int64(9), object(9)
memory usage: 77.4+ MB

In [ ]:
#points redemmed - float o Accumulated - int #si bien sería bueno que fuesen el mismo tipo de dato, depende del sistema de la aerolinea (quizás solo permite gastar enteros, aunque puedas acumular decimales)

In [137]:
df_aerolinea['Distance'] = df_aerolinea['Distance'].astype(float)
df_aerolinea['Dollar Cost Points Redeemed'] = df_aerolinea['Dollar Cost Points Redeemed'].astype(float)
#estas dos columnas, por la información que dan, deberían poder tener decimales

In [ ]:
def cambiar_a_int(dato):
    try:
        dato = int(dato)
        return dato
    except:
        return np.nan
    #sigue siendo float

In [125]:
df_aerolinea['Cancellation Year'].apply(cambiar_a_int)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
405619   NaN
405620   NaN
405621   NaN
405622   NaN
405623   NaN
Name: Cancellation Year, Length: 405624, dtype: float64

In [127]:
df_aerolinea.describe(include='O').T

                  count unique       top    freq
Country          405624      1    Canada  405624
Province         405624     11   Ontario  130896
City             405624     29   Toronto   81096
Postal Code      405624     55   V6E 3D9   21984
Gender           405624      2    Female  203640
Education        405624      5  Bachelor  253752
Marital Status   405624      3   Married  235800
Loyalty Card     405624      3      Star  184224
Enrollment Type  405624      2  Standard  382200

In [128]:
df_aerolinea.describe().T

,count,mean,std,min,25%,50%,75%,max
Loyalty Number,405624.0,550037.873084,258935.286969,100018.00,326961.00,550834.00,772194.00,999986.00
Year,405624.0,2017.500000,0.500001,2017.00,2017.00,2017.50,2018.00,2018.00
Month,405624.0,6.500000,3.452057,1.00,3.75,6.50,9.25,12.00
Flights Booked,405624.0,4.115052,5.225518,0.00,0.00,1.00,8.00,21.00
Flights With Companions,405624.0,1.031805,2.076869,0.00,0.00,0.00,1.00,11.00
Total Flights,405624.0,5.146858,6.521227,0.00,0.00,1.00,10.00,32.00
Distance,405624.0,1208.880059,1433.155320,0.00,0.00,488.00,2336.00,6293.00
Points Accumulated,405624.0,123.692721,146.599831,0.00,0.00,50.00,239.00,676.50
Points Redeemed,405624.0,30.696872,125.486049,0.00,0.00,0.00,0.00,876.00
Dollar Cost Points Redeemed,405624.0,2.484503,10.150038,0.00,0.00,0.00,0.00,71.00
Salary,302952.0,79268.825953,34992.133508,-58486.00,59262.00,73479.00,88612.00,407228.00
CLV,405624.0,7991.976226,6863.663857,1898.01,3985.32,5776.34,8936.82,83325.38
Enrollment Year,405624.0,2015.252529,1.979427,2012.00,2014.00,2015.00,2017.00,2018.00
Enrollment Month,405624.0,6.668008,3.399766,1.00,4.00,7.00,10.00,12.00
Cancellation Year,50064.0,2016.499521,1.384336,2013.00,2016.00,2017.00,2018.00,2018.00
Cancellation Month,50064.0,6.966443,3.448300,1.00,4.00,7.00,10.00,12.00

In [139]:
df_aerolinea.duplicated().sum()

1864

In [140]:
duplicados = df_aerolinea[df_aerolinea.duplicated(keep=False)]
duplicados.head()

,Loyalty Number,Year,Month,Flights Booked,Flights With Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
41,101902,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,Ontario,London,M5B 3E4,Female,College,NaN,Married,Aurora,6265.34,Standard,2017,1,NaN,NaN
42,101902,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,Ontario,London,M5B 3E4,Female,College,NaN,Married,Aurora,6265.34,Standard,2017,1,NaN,NaN
226,112142,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,Ontario,Thunder Bay,K8T 5M5,Male,Bachelor,93073.0,Single,Aurora,16272.74,Standard,2015,7,NaN,NaN
227,112142,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,Ontario,Thunder Bay,K8T 5M5,Male,Bachelor,93073.0,Single,Aurora,16272.74,Standard,2015,7,NaN,NaN
477,126100,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,New Brunswick,Fredericton,E3B 2H2,Female,Master,121261.0,Divorced,Nova,17790.41,Standard,2013,11,2014.0,7.0

In [141]:
duplicados.sort_values(by= ['Year', 'Month']).head(10)

,Loyalty Number,Year,Month,Flights Booked,Flights With Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
41,101902,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,Ontario,London,M5B 3E4,Female,College,NaN,Married,Aurora,6265.34,Standard,2017,1,NaN,NaN
42,101902,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,Ontario,London,M5B 3E4,Female,College,NaN,Married,Aurora,6265.34,Standard,2017,1,NaN,NaN
226,112142,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,Ontario,Thunder Bay,K8T 5M5,Male,Bachelor,93073.0,Single,Aurora,16272.74,Standard,2015,7,NaN,NaN
227,112142,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,Ontario,Thunder Bay,K8T 5M5,Male,Bachelor,93073.0,Single,Aurora,16272.74,Standard,2015,7,NaN,NaN
477,126100,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,New Brunswick,Fredericton,E3B 2H2,Female,Master,121261.0,Divorced,Nova,17790.41,Standard,2013,11,2014.0,7.0
478,126100,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,New Brunswick,Fredericton,E3B 2H2,Female,Master,121261.0,Divorced,Nova,17790.41,Standard,2013,11,2014.0,7.0
566,130331,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,Nova Scotia,Halifax,B3J 9S2,Female,Bachelor,79207.0,Divorced,Nova,2862.73,Standard,2016,12,NaN,NaN
567,130331,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,Nova Scotia,Halifax,B3J 9S2,Female,Bachelor,79207.0,Divorced,Nova,2862.73,Standard,2016,12,NaN,NaN
659,135421,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,Nova Scotia,Halifax,B3C 2M8,Female,Bachelor,91156.0,Married,Aurora,17441.64,Standard,2017,1,NaN,NaN
660,135421,2017,1,0,0,0,0.0,0.0,0,0.0,Canada,Nova Scotia,Halifax,B3C 2M8,Female,Bachelor,91156.0,Married,Aurora,17441.64,Standard,2017,1,NaN,NaN

In [142]:
duplicados.shape

(3712, 25)

In [143]:
duplicados.duplicated().sum()

1864

In [ ]:
#el mismo número de duplicados que en vismos en el EDA del info_vuelos porque los duplicados vienen de ese csv

In [144]:
df_aerolinea.drop_duplicates(keep='first', inplace=True)

In [145]:
df_aerolinea.duplicated().sum()

0

In [146]:
df_aerolinea.info() #comprobamos que las filas eliminadas corresponden al número de duplicated en la variable duplicados

<class 'pandas.core.frame.DataFrame'>
Index: 403760 entries, 0 to 405623
Data columns (total 25 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               403760 non-null  int64
 1   Year                         403760 non-null  int64
 2   Month                        403760 non-null  int64
 3   Flights Booked               403760 non-null  int64
 4   Flights With Companions      403760 non-null  int64
 5   Total Flights                403760 non-null  int64
 6   Distance                     403760 non-null  float64
 7   Points Accumulated           403760 non-null  float64
 8   Points Redeemed              403760 non-null  int64
 9   Dollar Cost Points Redeemed  403760 non-null  float64
 10  Country                      403760 non-null  object
 11  Province                     403760 non-null  object
 12  City                         403760 non-null  object
 13  Postal Code                  403760 non-null  object
 14  Gender                       403760 non-null  object
 15  Education                    403760 non-null  object
 16  Salary                       301500 non-null  float64
 17  Marital Status               403760 non-null  object
 18  Loyalty Card                 403760 non-null  object
 19  CLV                          403760 non-null  float64
 20  Enrollment Type              403760 non-null  object
 21  Enrollment Year              403760 non-null  int64
 22  Enrollment Month             403760 non-null  int64
 23  Cancellation Year            49650 non-null   float64
 24  Cancellation Month           49650 non-null   float64
dtypes: float64(7), int64(9), object(9)
memory usage: 80.1+ MB

In [ ]:
df_aerolinea['Salary'].isna().sum() 
#en un análisis más profundo quizás podríamos mirar si se relaciona con otras columnas como 'Loyalty card' o 'Province' para intentar deducir el dato. 
#O preguntárselo a la aerolínea
#Así como ver de dónde salen estos nulos, si tienen algún tipo de patrón o no

25.32692688725976

In [ ]:
#en base a la gráfica que compara el salario con los diferentes niveles educativos
df_aerolinea.groupby('Education')['Salary'].agg(['min', 'max'])
#con este resultado vemos que los datos sobre salario no son muy coherentes, por lo que hay que hacer un análisis más profundo antes de imputar plos nulos

                          min       max
Education
Bachelor             -58486.0  105563.0
College                   NaN       NaN
Doctor                48109.0  407228.0
High School or Below -49830.0   93875.0
Master                56414.0  133080.0

In [147]:
df_aerolinea.to_csv('files/info_aerolinea.csv')